<aside id="layout-menu" class="layout-menu-horizontal menu-horizontal menu bg-menu-theme flex-grow-0">
    <div class="container-xxl d-flex h-100">
        <ul class="menu-inner py-1">
            <li class="menu-item" id="dashboard-upnav">
                <span onclick="route('/')" class="menu-link">
                    <i class="menu-icon tf-icons ti ti-smart-home"></i>
                    Ana Sayfa
                </span>
            </li>
            <li class="menu-item" id="erp-upnav">
                <a href="javascript:void(0)" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons ti ti-brand-tabler"></i>
                    ERP Listesi
                </a>
                <ul class="menu-sub">
                    <li class="menu-item" id="erp-invoices-nav">
                        <span onclick="route('/erp/invoices')" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-file-dollar"></i>
                            Fatura
                        </span>
                    </li>
                    <li class="menu-item" id="erp-despatches-nav">
                        <span onclick="route('/erp/despatches')" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-file-invoice"></i>
                            İrsaliye
                        </span>
                    </li>
                </ul>
            </li>
            <li class="menu-item" id="movements-upnav">
                <span onclick="route('/movements')" class="menu-link">
                    <i class="menu-icon tf-icons ti ti-list-details"></i>
                    Gönderim Listesi
                </span>
            </li>
            <li class="menu-item" id="settings-upnav">
                <span onclick="route('/settings')" class="menu-link">
                    <i class="menu-icon tf-icons ti ti-settings"></i>
                    Ayarlar
                </span>
            </li>
        </ul>
    </div>
</aside>
