<nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme draggable-area" id="layout-navbar">
    <div class="container-xxl">
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none" style="-webkit-app-region: no-drag;">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="ti ti-menu-2 ti-sm"></i>
            </a>
        </div>
        <div class="navbar-nav me-3 me-xl-0" style="-webkit-app-region: no-drag;">
            <button id="backBtn" class="nav-link">
                <i class="ti ti-chevron-left"></i>
            </button>
        </div>
        <div class="navbar-nav me-3 me-xl-0" style="-webkit-app-region: no-drag;">
            <button id="forwardBtn" class="nav-link">
                <i class="ti ti-chevron-right"></i>
            </button>
        </div>
        <div class="navbar-nav me-3 me-xl-0" style="-webkit-app-region: no-drag;">
            <button id="refreshBtn" class="nav-link">
                <i class="ti ti-reload"></i>
            </button>
        </div>
        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <div class="navbar-nav flex-row align-items-center ms-auto">
                <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
                    <a href="/" class="app-brand-link gap-2">
                        <span class="app-brand-logo demo">
                            <img src="<%= app.logo %>" data-app-light-img="<%= app.logo_dark %>" data-app-dark-img="<%= app.logo_light %>">
                        </span>
                    </a>
                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none" style="-webkit-app-region: no-drag;">
                        <i class="ti ti-x ti-sm align-middle"></i>
                    </a>
                </div>
            </div>
            <ul class="navbar-nav flex-row align-items-center ms-auto">
                <li class="nav-item me-2 me-sm-3" style="-webkit-app-region: no-drag;">
                    <button id="minimizeBtn" class="nav-link">
                        <i class="ti ti-line-dashed align-middle"></i>
                    </button>
                </li>
                <li class="nav-item me-2 me-sm-3" style="-webkit-app-region: no-drag;">
                    <button id="maximizeBtn" class="nav-link">
                        <i class="ti ti-maximize align-middle"></i>
                    </button>
                </li>
                <li class="nav-item" style="-webkit-app-region: no-drag;">
                    <button id="closeBtn" class="nav-link">
                        <i class="ti ti-x align-middle"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
